body {
  margin: 0;
  color: #222;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  background: #1A1A1A;
  height: 100vh;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

.header{
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.header, .main{
  color: white;

}

.header{
  background-color: rgb(67, 15, 213);
}

label{
  display: grid;
  font-size: 1.5em;
  gap: 0.5em;
}

input{
  font-size: 1em;
  font-weight: bold;
  width: 11em;
  padding: 0.17em 1em;
  text-align: center;
}

.main{
  display: grid;
  gap: 0.2em;
  place-content: center;
  margin-top: 2em;
  /* position: relative;
  top: 50vh;
  margin-top: -180px; */
}

.item{
  background-color: darkolivegreen;
  height: 5em;
  text-align: center;
}

button{
  padding: 0.8em;
}

.input-and-button{
display: flex;
align-items: center;
}





